[Unit]
Description=Keybow Service
After=network.target

[Service]
ExecStart=/boot/keybow
WorkingDirectory=/boot
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target